:root{
  --black: #000000;
  --grey: #333333;
  --light-grey: #CCCCCC;
  --orange: #FFA500;
  --dark-orange: #FF8C00;
  --yellow: #FFFF00;
  --dark-red: #8B0000;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--grey);
    color: var(--light-grey);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.create-container {
    background-color: var(--black);
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    padding: 8px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    background-color: var(--grey);
    color: var(--light-grey);
}
input {
    width: 93%;
}

select {
    width: 100%;
}

/* Styles for the arrow icon */
.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-image: url('/static/imgs/leftarrow.png'); /* Replace with the actual path */
    background-repeat: no-repeat;
    background-position: right 10px center;
    transition: background-image 0.3s ease-in-out; /* Add smooth transition effect */
}

/* Adjust the arrow when the select is open */
.custom-select:focus {
    background-image: url('/static/imgs/downarrow.png'); /* Replace with the actual path */
}

.type-select {
    padding-left: 30px;
}

.server-type-container {
    display: flex;
    align-items: center;
}

#server-type {
    width: 70%; /* Adjust width as needed */
    margin-right: 10px; /* Add margin between select and logo */
}

#server-logo-container {
    flex-shrink: 0; /* Don't allow the logo to shrink */
}

#server-logo {
    max-width: 50px; /* Adjust max-width as needed */
    height: auto;
    display: block;
}



button {
    background-color: #FFA500; /* Orange */
    color: #D3D3D3; /* Light Grey */
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Center the button */
}

button:hover {
    background-color: #FF8C00; /* Dark Orange */
}



