{% extends 'base.html' %}

{% block title %}Create Server - Minecraft Server Manager{% endblock %}

{% block content %}
    <h2>Create Minecraft Server</h2>
    <form method="post" action="{{ url_for('create_server') }}" id="createServerForm">
        <label for="server-name">Server Name:</label>
        <input id="server-name" name="server_name" required="True">
        <br>

        <label for="server-type">Server Type:</label>
        <select id="server-type" name="server_type" onchange="updateVersions()" required="True">
            <!-- Options will be populated dynamically with JavaScript -->
        </select>
        <br>

        <!-- Add a new container for the release group select -->
        <div id="release-group-container" style="display: none;">
            <label for="release-group">Release Group:</label>
            <select id="release-group" name="release_group" onchange="updateVanillaVersions()" required="True">
                <option value="release" selected>release</option>
            </select>
            <br>
        </div>

        <label for="server-version">Server Version:</label>
        <select id="server-version" name="server_version" required="True">
            <!-- Options will be populated dynamically with JavaScript -->
        </select>
        <br>

        <label for="download-path">Download Path:</label>
        <input id="download-path" name="download_path" required="True">
        <br>

        <button type="submit">Create Server</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}
